.workplace-projects-main-container {
  width: 100%;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 24px;
    background: $Gray-900;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $Gray-600;
    border-radius: 20px;
    border: 1px solid $Gray-800;
  }
}

.workspace-project {
  width: 50%;
  border: 1px solid $Gray-700;
  background-color: $Gray-800;
  border-radius: 20px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 1.5rem;
  cursor: pointer;
  transition: 300ms all ease-in-out;

  &:hover {
    @include Box-Shadow-md;
  }

  &__logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__title {
    grid-column: 2/-1;
    grid-row: 1/2;
  }

  &__summary {
    grid-column: 2/-1;
    grid-row: 2/3;
  }

  &__icons-container {
    grid-row: 3/4;
    grid-column: 2/-1;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__icon-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      .workspace-project__icon {
        fill: $Blue-500;
      }
    }
  }

  &__icon {
    width: 30px;
    fill: $Gray-600;
    transition: 300ms all ease-in-out;
  }
}