.chat-room {
  width: 100%;
  background-color: $Gray-900;
  overflow: hidden;
}

.chat-room-body {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 72vh;
  max-height: 72vh;
  row-gap: 1rem;
  padding: 1.5rem;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 24px;
    background: $Gray-900;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $Gray-600;
    border-radius: 20px;
    border: 1px solid $Gray-800;
  }
}

.chat-room-footer {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  border-top: 1px solid $Gray-800;
  padding: 1rem;
  gap: 1rem;

  &__mic-icon-container {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      .chat-room-footer__mic-icon {
        fill: $Gray-200;
      }
    }
  }

  &__mic-icon {
    fill: $Gray-600;
    width: 24px;
    height: 24px;
    transition: 300ms all ease-in-out;
  }

  &__attachment-icon-container {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      .chat-room-footer__attachment-icon {
        fill: $Gray-200;
      }
    }
  }

  &__attachment-icon {
    fill: $Gray-600;
    width: 24px;
    height: 24px;
    transition: 300ms all ease-in-out;
  }

  &__send-msg-btn-container {
    cursor: pointer;
    background-color: $Gray-900;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: 300ms all ease-in-out;
    border: none;

    &:hover {
      .chat-room-footer__send-msg-btn {
        fill: $Blue-200;
      }
    }
  }

  &__send-msg-btn {
    fill: $Blue-500;
    width: 24px;
    height: 24px;
    transition: 300ms all ease-in-out;
  }

  &__record {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $Gray-800;
    height: 50px;
    padding: 1rem;
    border-radius: 12px;
  }

  &__record-stop {
    border-radius: 50%;
    border: 1px solid $Blue-200;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 300ms all ease-in-out;

    &__icon {
      fill: $Gray-200;
      transition: 300ms all ease-in-out;
    }

    &:hover {
      border-color: $Blue-500;

      .chat-room-footer__record-stop__icon {
        fill: $Blue-500;
      }
    }
  }

  &__record-time {
    background-color: $Gray-600;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    @include Body-Medium-Font($Gray-100);
  }

  &__send-msg-label {
    width: 100%;
  }

  &__send-msg {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    border: none;
    outline: none;
    background: $Gray-800;
    text-indent: 1rem;
    @include Body-Medium-Font($Gray-100);

    &::placeholder {
      color: $Gray-500;
    }
  }

  &__image-preview {
    position: absolute;
    bottom: 6rem;
    left: 37.8%;

    img {
      width: 150px;
      height: auto;
      border-radius: 12px;
    }

    &__button {
      position: absolute;
      top: -20px;
      right: -20px;
      width: 25px;
      height: 25px;
      padding: 0.16rem;
      cursor: pointer;
      transition: 300ms all ease-in-out;
      display: flex;
      background-color: $Gray-900;
      border: none;
    }

    &__icon {
      fill: $Gray-600;
      width: 100%;
      height: 100%;
      transition: 300ms all ease-in-out;
      border: 1px solid $Gray-600;
      border-radius: 50%;
      padding: 0.1rem;

      &:hover {
        fill: $Gray-200;
        border-color: $Gray-100;
      }
    }
  }
}
