.message-container {

  &__message-date {
    text-align: center;
    width: 100%;
    margin-block: 0.4rem;
  }

  &__person-info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.others-msg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: max-content;

  img {
    width: 32px;
    height: 32px;
  }

  p {
    color: $Base-White;
  }

  .message {
    max-width: 70%;
    overflow-wrap: break-word;
    margin-left: 1.8rem;
    margin-block: 0.4rem;
    align-self: flex-start;
    justify-self: left;
    background-color: $Gray-800;
    padding: 1rem;
    border-radius: 2px 25px 25px;
    line-height: 1.2;
    cursor: pointer;
    transition: 300ms all ease-in-out;

    &__content {
      color: $Base-White;
    }

    &:hover {
      background-color: $Gray-700;
    }
  }

}

.user-msg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  height: max-content;

  .message-container__person-info {
    flex-direction: row-reverse;
  }

  img {
    width: 32px;
    height: 32px;
  }

  .person-msg-info {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    text-align: right;
    color: $Base-White;
  }

  .message {
    overflow-wrap: break-word;
    margin-right: 1.8rem;
    margin-block: 0.4rem;
    align-self: flex-end;
    justify-self: right;
    max-width: 60%;
    background-color: $Gray-800;
    padding: 1rem;
    border-radius: 20px 5px 20px 20px;
    line-height: 1.2;
    cursor: pointer;
    transition: 300ms all ease-in-out;

    &__content {
      color: $Base-White;
    }

    &:hover {
      background-color: $Gray-700;
    }

  }
}
