.private-channels-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.private-channels {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.25rem;

  &__text {
    color: $Gray-600;
  }

  &__icon-container {
    transform: rotate(180deg);
    transition: 300ms all ease-in-out;
    cursor: pointer;

    &.active {
      transform: rotate(0deg);
    }
  }

  &__icon {
    fill: $Gray-600;
    transition: 300ms all ease-in-out;

    &:hover {
      fill: $Gray-200;
    }
  }
}

.all-private-channels-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}