@import "team-channels-container", "private-channels-container", "chat-room-header", "chat-room", "team-channel";
@import "message", "private-channel";

.chats-container {
  grid-column: 2/-1;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.chats {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  overflow-y: scroll;
  max-height: 91vh;
  border-right: 1px solid $Gray-800;

  h2 {
    color: #FFFFFF;
    align-self: flex-start;
    justify-self: center;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.chat-room-container {
  width: 70%;
  border-right: 1px solid $Gray-800;
}