.login-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include Headline-Small-Font($Base-White);
  gap: 1.5rem;
  border: 1px solid $Gray-800;
  border-radius: 12px;
  padding: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 0.6rem;
  }

  &__label {
    margin-left: 0.2rem;
    @include Body-Large-Font($Gray-100);
  }

  &__input {
    width: 480px;
    height: 44px;
    border-radius: 12px;
    outline: none;
    background-color: $Gray-800;
    color: $Base-White;
    padding: 1rem;
    border: 1px solid transparent;

    &::placeholder {
      color: $Gray-500;
    }

    &.error {
      border: 1px solid $Red-500;
    }

    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
      border: 1px solid $Gray-800;
      -webkit-text-fill-color: #ffffff;
      -webkit-box-shadow: 0 0 0 50px $Gray-900 inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  &__error-msg {
    margin-left: 0.2rem;
    @include Body-Medium-Font($Red-500);
  }

  &__submit {
    height: 44px;
    border-radius: 12px;
    cursor: pointer;
    background-color: $Gray-600;
    @include Body-Large-Font($Gray-100);
    transition: 300ms all ease-in-out;
    border: none;

    &:hover {
      background-color: $Gray-200;
      color: $Gray-600;
    }
  }

  &__register {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-inline: 0.2rem;

    button {
      @include Body-Medium-Font($Gray-100);
      border: none;
      cursor: pointer;
      background-color: transparent;
    }
  }
}

.return-to-login {
  @include Body-Medium-Font($Gray-100);
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}