$Very-Dark-Blue: #040406;
$White-Blue: #1364EF;
$Very-White-Blue: #5896FF;
$Gray: #0B0B0D;
$Dark-Gray: #27252f;
$Grayish-White: #2B2A32;
$Secondary-Gray: #37363C;
$Whitish-Gray: #414144;
$Others-Message-Color: #141318;
$White: #FFF;
$Red: #e36565;
$White-Red: #d59898;