.workspace-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.workspace-title {
  color: $White;
}

.workspace-error-msg {
  color: $Red;
}

.workspace {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__choice {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    border: 1px solid $Secondary-Gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: 300ms all ease-in-out;

    h2 {
      color: $White;
      font-size: 1.2rem;
    }

    &.active {
      border-color: $Very-White-Blue;

      .workspace__active-circle {
        background-color: $Very-White-Blue;
      }
    }
  }


  &__active-circle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $Grayish-White;
    transition: 300ms all ease-in-out;
  }
}

.workspace-submit-btn {
  width: 545px;
  height: 50px;
  border-radius: 12px;
  background-color: $White-Blue;
  cursor: pointer;
  color: $White;
  transition: 300ms all ease-in-out;

  &:hover {
    background-color: $Very-White-Blue;
  }
}