@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.header {
  grid-column: 2/-1;
  grid-row: 1/2;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid #292524;
}
.header__title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
  margin-right: auto;
}

.search-area {
  margin-right: 2rem;
}
.search-area__container {
  position: relative;
}
.search-area__icon {
  fill: #79716B;
  position: absolute;
  top: -0.1rem;
  left: 1rem;
  width: 24px;
  height: 24px;
}
.search-area__input {
  width: 280px;
  height: 44px;
  border-radius: 30px;
  outline: none;
  background-color: #292524;
  border: none;
  color: #FFFFFF;
  padding: 0.5rem 3rem;
}
.search-area__input::placeholder {
  color: #79716B;
}
.search-area__input:-webkit-autofill {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.search-area__input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.personal-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.personal-info__create-new {
  background-color: #57534E;
  width: 120px;
  height: 44px;
  border: none;
  border-radius: 25px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  padding: 0.5rem;
}
.personal-info__create-new:hover {
  background-color: #E7E5E4;
  color: #57534E;
}
.personal-info__create-new:hover .personal-info__create-new__icon {
  fill: #57534E;
}
.personal-info__create-new__icon {
  fill: #FFFFFF;
  transition: 300ms all ease-in-out;
}
.personal-info__notification-icon {
  fill: #79716B;
  cursor: pointer;
}
.personal-info__person-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border: 1px solid #292524;
}

.four-circles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms all ease-in-out;
  cursor: pointer;
}
.four-circles:hover {
  transform: rotate(180deg);
}

.main-icons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.main-icons__icon-container {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-left: 3px solid transparent;
  position: relative;
}
.main-icons__icon-container.active {
  border-left: 3px solid #22CCEE;
}
.main-icons__icon-container.active .main-icons__icon {
  fill: #22CCEE;
}
.main-icons__icon-container:hover {
  border-left: 3px solid #22CCEE;
}
.main-icons__icon-container:hover .main-icons__icon {
  fill: #22CCEE;
}
.main-icons__icon-container:hover:nth-child(1)::after {
  content: "Home";
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E7E5E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: absolute;
  top: 0;
  border: 1px solid #44403C;
  background-color: #292524;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  right: -3.55rem;
}
.main-icons__icon-container:hover:nth-child(2)::after {
  content: "Projects";
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E7E5E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: absolute;
  top: 0;
  border: 1px solid #44403C;
  background-color: #292524;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  right: -4.55rem;
}
.main-icons__icon-container:hover:nth-child(3)::after {
  content: "Calender";
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E7E5E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: absolute;
  top: 0;
  border: 1px solid #44403C;
  background-color: #292524;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  right: -4.85rem;
}
.main-icons__icon-container:hover:nth-child(4)::after {
  content: "Discussions";
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E7E5E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: absolute;
  top: 0;
  border: 1px solid #44403C;
  background-color: #292524;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  right: -5.9rem;
}
.main-icons__icon-container:hover:nth-child(5)::after {
  content: "My Tasks";
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E7E5E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: absolute;
  top: 0;
  border: 1px solid #44403C;
  background-color: #292524;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  right: -4.85rem;
}
.main-icons__icon-container:hover:nth-child(6)::after {
  content: "Chats";
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E7E5E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: absolute;
  top: 0;
  border: 1px solid #44403C;
  background-color: #292524;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  right: -3.5rem;
}
.main-icons__icon {
  width: 100%;
  fill: #79716B;
  border-left: 3px solid transparent;
  transition: 300ms ease-in-out all;
}

.footer-icons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer-icons__icon-container {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid transparent;
  position: relative;
}
.footer-icons__icon-container.active {
  border-left: 3px solid #67E3F9;
}
.footer-icons__icon-container.active .footer-icons__icon {
  fill: #67E3F9;
}
.footer-icons__icon-container:hover {
  border-left: 3px solid #67E3F9;
}
.footer-icons__icon-container:hover .footer-icons__icon {
  fill: #67E3F9;
}
.footer-icons__icon-container:hover:nth-child(1)::after {
  content: "Members";
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E7E5E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: absolute;
  top: 0;
  border: 1px solid #44403C;
  background-color: #292524;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  right: -5.15rem;
}
.footer-icons__icon-container:hover:nth-child(2)::after {
  content: "Settings";
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E7E5E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: absolute;
  top: 0;
  border: 1px solid #44403C;
  background-color: #292524;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  right: -4.8rem;
}
.footer-icons__icon-container:hover:nth-child(3)::after {
  content: "Logout";
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E7E5E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: absolute;
  top: 0;
  border: 1px solid #44403C;
  background-color: #292524;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  right: -4.3rem;
}
.footer-icons__icon {
  width: 100%;
  fill: #79716B;
  border-left: 3px solid transparent;
  transition: 300ms all ease-in-out;
}

.login-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
  gap: 1.5rem;
  border: 1px solid #292524;
  border-radius: 12px;
  padding: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 0.6rem;
}
.login-form__label {
  margin-left: 0.2rem;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  color: #F5F5F4;
}
.login-form__input {
  width: 480px;
  height: 44px;
  border-radius: 12px;
  outline: none;
  background-color: #292524;
  color: #FFFFFF;
  padding: 1rem;
  border: 1px solid transparent;
}
.login-form__input::placeholder {
  color: #79716B;
}
.login-form__input.error {
  border: 1px solid #E36565;
}
.login-form__input:-webkit-autofill, .login-form__input:-webkit-autofill:hover, .login-form__input:-webkit-autofill:focus, .login-form__input:-webkit-autofill:active {
  border: 1px solid #292524;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0 50px #0B0B0D inset;
  transition: background-color 5000s ease-in-out 0s;
}
.login-form__error-msg {
  margin-left: 0.2rem;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E36565;
}
.login-form__submit {
  height: 44px;
  border-radius: 12px;
  cursor: pointer;
  background-color: #57534E;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  color: #F5F5F4;
  transition: 300ms all ease-in-out;
  border: none;
}
.login-form__submit:hover {
  background-color: #E7E5E4;
  color: #57534E;
}
.login-form__register {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-inline: 0.2rem;
}
.login-form__register button {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.return-to-login {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.create-workspace-container, .join-workspace-container {
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #0B0B0D;
}

.create-workspace, .join-workspace {
  padding: 2rem 3rem;
  width: 500px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid #292524;
  background-color: #0B0B0D;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}
.create-workspace__close, .join-workspace__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: 500ms all ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.create-workspace__close:hover, .join-workspace__close:hover {
  transform: rotate(360deg);
}
.create-workspace__close:hover .create-workspace__x-icon, .create-workspace__close:hover .join-workspace__x-icon, .join-workspace__close:hover .create-workspace__x-icon, .join-workspace__close:hover .join-workspace__x-icon {
  fill: #22CCEE;
}
.create-workspace__x-icon, .join-workspace__x-icon {
  width: 24px;
  height: 24px;
  fill: #57534E;
}
.create-workspace__error-msg, .join-workspace__error-msg {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E36565;
}
.create-workspace__form, .join-workspace__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.create-workspace__fieldset, .join-workspace__fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.create-workspace__label, .join-workspace__label {
  align-self: flex-start;
}
.create-workspace__input, .join-workspace__input {
  width: 460px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  background-color: #292524;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  padding: 1rem;
  border: 1px solid #79716B;
}
.create-workspace__input::placeholder, .join-workspace__input::placeholder {
  color: #79716B;
}
.create-workspace__input.error, .error.join-workspace__input {
  border: 1px solid #E36565;
}
.create-workspace__input:-webkit-autofill, .join-workspace__input:-webkit-autofill, .create-workspace__input:-webkit-autofill:hover, .create-workspace__input:-webkit-autofill:focus, .create-workspace__input:-webkit-autofill:active {
  border: 1px solid #292524;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0 50px #0B0B0D inset;
  transition: background-color 5000s ease-in-out 0s;
}
.create-workspace__field-error, .join-workspace__field-error {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E36565;
  align-self: flex-start;
}
.create-workspace__submit-btn, .join-workspace__submit-btn {
  height: 40px;
  width: 462px;
  border-radius: 8px;
  margin-top: auto;
  transition: 300ms all ease-in-out;
  background-color: #57534E;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  border: none;
}
.create-workspace__submit-btn:hover, .join-workspace__submit-btn:hover {
  background-color: #E7E5E4;
  color: #57534E;
}

.join-workspace__message {
  align-self: flex-start;
}
.join-workspace__cancel-request {
  align-self: flex-end;
  width: 150px;
  height: 35px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-top: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  background-color: #57534E;
  transition: 300ms all ease-in-out;
}
.join-workspace__cancel-request:hover {
  color: #57534E;
  background-color: #E7E5E4;
}
.join-workspace__confirm-container {
  display: flex;
  gap: 1rem;
}
.join-workspace__cancel-confirm {
  width: 100px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  background-color: #57534E;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  border: 1px solid transparent;
}
.join-workspace__cancel-confirm:hover {
  color: #57534E;
  background-color: #E7E5E4;
}
.join-workspace__approve-confirm {
  width: 100px;
  height: 35px;
  border-radius: 8px;
  background-color: #E36565;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  border: 1px solid transparent;
  transition: 300ms all ease-in-out;
  cursor: pointer;
}
.join-workspace__approve-confirm:hover {
  color: #E36565;
  background-color: #FECDCA;
}

.workspace-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-workspace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #292524;
  border-radius: 12px;
  padding: 2rem;
}
.main-workspace__title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #F5F5F4;
}
.main-workspace__error-msg {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E36565;
}
.main-workspace__submit-btn {
  width: 545px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background-color: #57534E;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  transition: 300ms all ease-in-out;
}
.main-workspace__submit-btn:hover {
  background-color: #E7E5E4;
  color: #57534E;
}

.workspace {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.workspace__choice {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  border: 1px solid #292524;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 300ms all ease-in-out;
  gap: 1rem;
}
.workspace__choice h2 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #F5F5F4;
  font-size: 1.2rem;
}
.workspace__choice img {
  width: 70%;
  height: 70%;
}
.workspace__choice.active {
  border-color: #22CCEE;
}
.workspace__choice.active h2 {
  color: #22CCEE;
}
.workspace__choice.active .workspace__active-circle {
  background-color: #22CCEE;
}
.workspace__active-circle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #292524;
  transition: 300ms all ease-in-out;
}

.members-container {
  grid-column: 2/-1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
  position: relative;
}

.members-back {
  position: absolute;
  left: 0;
  top: -1rem;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #292524;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}
.members-back__icon {
  fill: #57534E;
  transition: 300ms all ease-in-out;
}
.members-back:hover {
  border: 1px solid #E7E5E4;
  color: #D7D3D0;
}
.members-back:hover .members-back__icon {
  fill: #E7E5E4;
}

.members-title {
  width: 80%;
}
.members-title h2 {
  margin: 1rem 0;
}

.members-header {
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #292524;
  padding-right: 1.4rem;
}
.members-header__image {
  flex: 1 1 10%;
}
.members-header__name {
  flex: 1 1 10%;
}
.members-header__email {
  flex: 2 1 20%;
}
.members-header__projects {
  flex: 1 1 10%;
}
.members-header__role {
  flex: 1 1 10%;
}
.members-header__timezone {
  flex: 1 1 10%;
}
.members-header__chat {
  flex: 1 1 10%;
}

.members {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 62vh;
  overflow-y: auto;
  padding-right: 1rem;
}
.members::-webkit-scrollbar {
  width: 8px;
}
.members::-webkit-scrollbar-track {
  border-radius: 24px;
  background: #0B0B0D;
}
.members::-webkit-scrollbar-thumb {
  background-color: #57534E;
  border-radius: 20px;
  border: 1px solid #292524;
}

.member {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  border: 1px solid #292524;
  border-radius: 12px;
}
.member__image {
  flex-grow: 1;
  flex-basis: 10%;
  width: 32px;
  height: 32px;
}
.member__name {
  flex: 1 1 10%;
}
.member__email {
  flex: 2 1 20%;
}
.member__projects {
  flex: 1 1 10%;
}
.member__role {
  flex: 1 1 10%;
}
.member__timezone {
  flex: 1 1 10%;
}
.member__option-container {
  flex: 1 1 10%;
  cursor: pointer;
}
.member__option-container:hover .member__chat {
  fill: #06AED4;
}
.member__chat {
  fill: #57534E;
  transition: 300ms all ease-in-out;
}
.member__active {
  flex: 1 1 10%;
  color: #E7E5E4;
}

.requests-container {
  grid-column: 2/-1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
  position: relative;
}

.requests-back {
  position: absolute;
  left: 0;
  top: -1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #292524;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}
.requests-back__icon {
  fill: #57534E;
  transition: 300ms all ease-in-out;
}
.requests-back:hover {
  border: 1px solid #E7E5E4;
  color: #D7D3D0;
}
.requests-back:hover .requests-back__icon {
  fill: #E7E5E4;
}

.requests-title {
  width: 80%;
}
.requests-title h2 {
  margin: 1rem 0;
}

.requests {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.request-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.request {
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 1px solid #292524;
  width: fit-content;
  height: 60px;
  border-radius: 12px;
  padding-inline: 2rem;
}
.request__image {
  width: 32px;
  height: 32px;
}
.request-choice {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  background-color: #292524;
  border-radius: 12px;
}
.request-choice__text {
  margin-inline: 2rem;
}
.request-choice__accept-btn {
  width: 100px;
  height: 40px;
  background-color: #12B76A;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  margin-left: 2rem;
  border-radius: 12px;
  transition: 300ms all ease-in-out;
  border: none;
  cursor: pointer;
}
.request-choice__accept-btn:hover {
  background-color: #A6F4C5;
}
.request-choice__delete-btn {
  width: 100px;
  height: 40px;
  background-color: #E36565;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  border: none;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  border-radius: 12px;
  margin-right: 2rem;
}
.request-choice__delete-btn:hover {
  background-color: #FECDCA;
}
.request-choice::before {
  content: "";
  margin: 0;
  display: block;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: #292524;
  position: absolute;
  top: 1.3rem;
  left: -1.1rem;
}

.workspace-members-main-container {
  grid-row: 2/-1;
  grid-column: 2/-1;
  width: 100%;
}

.workspace-choice-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
}

.workspace-choice {
  width: 300px;
  height: 300px;
  border: 1px solid #292524;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  transition: 300ms all ease-in-out;
  position: relative;
}
.workspace-choice__img {
  width: 95%;
}
.workspace-choice__title {
  margin-bottom: 1rem;
}
.workspace-choice__counts {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0E7090;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms all ease-in-out;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.workspace-choice:hover {
  border-color: #06AED4;
}
.workspace-choice:hover .workspace-choice__counts {
  background-color: #06AED4;
}

.workspace-id {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 1px solid #292524;
  border-radius: 12px;
  padding: 2rem;
  transition: 300ms all ease-in-out;
  cursor: pointer;
  display: flex;
  gap: 3rem;
}
.workspace-id:hover {
  border-color: #088AB2;
}
.workspace-id:hover .workspace-id__icon {
  fill: #088AB2;
}
.workspace-id__title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  transition: 300ms all ease-in-out;
}
.workspace-id__icon {
  fill: #57534E;
  transition: 300ms all ease-in-out;
}
.workspace-id__active-msg {
  position: absolute;
  top: 1rem;
  left: -6rem;
  background-color: #292524;
  border-radius: 12px;
  padding: 1rem;
  cursor: auto;
  animation: fadeIn 500ms linear;
}
.workspace-id__active-msg .arrow {
  margin: 0;
  display: block;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-left-color: #292524;
  position: absolute;
  top: 0.95rem;
  right: -1rem;
}
.workspace-id__hidden-msg {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.team-channels-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.team-channels {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.25rem;
}
.team-channels__text {
  color: #57534E;
}
.team-channels__icon-container {
  transform: rotate(180deg);
  transition: 300ms all ease-in-out;
  cursor: pointer;
}
.team-channels__icon-container.active {
  transform: rotate(0deg);
}
.team-channels__icon {
  fill: #57534E;
  transition: 300ms all ease-in-out;
}
.team-channels__icon:hover {
  fill: #E7E5E4;
}

.channels-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.private-channels-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.private-channels {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.25rem;
}
.private-channels__text {
  color: #57534E;
}
.private-channels__icon-container {
  transform: rotate(180deg);
  transition: 300ms all ease-in-out;
  cursor: pointer;
}
.private-channels__icon-container.active {
  transform: rotate(0deg);
}
.private-channels__icon {
  fill: #57534E;
  transition: 300ms all ease-in-out;
}
.private-channels__icon:hover {
  fill: #E7E5E4;
}

.all-private-channels-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chat-room-header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #292524;
  border-right: 1px solid #292524;
  padding-inline: 1.5rem;
}
.chat-room-header__info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chat-room-header__info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.chat-room-header__info p {
  color: #FFFFFF;
}
.chat-room-header__members {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.chat-room-header__members img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.chat-room-header__members span {
  color: #57534E;
}

.chat-room {
  width: 100%;
  background-color: #0B0B0D;
  overflow: hidden;
}

.chat-room-body {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 72vh;
  max-height: 72vh;
  row-gap: 1rem;
  padding: 1.5rem;
}
.chat-room-body::-webkit-scrollbar {
  width: 8px;
}
.chat-room-body::-webkit-scrollbar-track {
  border-radius: 24px;
  background: #0B0B0D;
}
.chat-room-body::-webkit-scrollbar-thumb {
  background-color: #57534E;
  border-radius: 20px;
  border: 1px solid #292524;
}

.chat-room-footer {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  border-top: 1px solid #292524;
  padding: 1rem;
  gap: 1rem;
}
.chat-room-footer__mic-icon-container {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.chat-room-footer__mic-icon-container:hover .chat-room-footer__mic-icon {
  fill: #E7E5E4;
}
.chat-room-footer__mic-icon {
  fill: #57534E;
  width: 24px;
  height: 24px;
  transition: 300ms all ease-in-out;
}
.chat-room-footer__attachment-icon-container {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.chat-room-footer__attachment-icon-container:hover .chat-room-footer__attachment-icon {
  fill: #E7E5E4;
}
.chat-room-footer__attachment-icon {
  fill: #57534E;
  width: 24px;
  height: 24px;
  transition: 300ms all ease-in-out;
}
.chat-room-footer__send-msg-btn-container {
  cursor: pointer;
  background-color: #0B0B0D;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: 300ms all ease-in-out;
  border: none;
}
.chat-room-footer__send-msg-btn-container:hover .chat-room-footer__send-msg-btn {
  fill: #A5F0FC;
}
.chat-room-footer__send-msg-btn {
  fill: #06AED4;
  width: 24px;
  height: 24px;
  transition: 300ms all ease-in-out;
}
.chat-room-footer__record {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292524;
  height: 50px;
  padding: 1rem;
  border-radius: 12px;
}
.chat-room-footer__record-stop {
  border-radius: 50%;
  border: 1px solid #A5F0FC;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms all ease-in-out;
}
.chat-room-footer__record-stop__icon {
  fill: #E7E5E4;
  transition: 300ms all ease-in-out;
}
.chat-room-footer__record-stop:hover {
  border-color: #06AED4;
}
.chat-room-footer__record-stop:hover .chat-room-footer__record-stop__icon {
  fill: #06AED4;
}
.chat-room-footer__record-time {
  background-color: #57534E;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
}
.chat-room-footer__send-msg-label {
  width: 100%;
}
.chat-room-footer__send-msg {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #292524;
  text-indent: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
}
.chat-room-footer__send-msg::placeholder {
  color: #79716B;
}
.chat-room-footer__image-preview {
  position: absolute;
  bottom: 5.5rem;
  left: 36%;
}
.chat-room-footer__image-preview img {
  width: 150px;
  height: auto;
  border-radius: 12px;
}
.chat-room-footer__image-preview__button {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 25px;
  height: 25px;
  padding: 0.16rem;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  display: flex;
  background-color: #0B0B0D;
  border: none;
}
.chat-room-footer__image-preview__icon {
  fill: #57534E;
  width: 100%;
  height: 100%;
  transition: 300ms all ease-in-out;
  border: 1px solid #57534E;
  border-radius: 50%;
  padding: 0.1rem;
}
.chat-room-footer__image-preview__icon:hover {
  fill: #E7E5E4;
  border-color: #F5F5F4;
}

.team-channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.team-channel__name-and-image {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.team-channel__image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.team-channel__title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
}
.team-channel__unseen-msg {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #E36565;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
}
.team-channel__counts {
  color: #FFFFFF;
}

.message-container__message-date {
  text-align: center;
  width: 100%;
  margin-block: 0.4rem;
}
.message-container__person-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.others-msg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: max-content;
}
.others-msg img {
  width: 32px;
  height: 32px;
}
.others-msg p {
  color: #FFFFFF;
}
.others-msg .message {
  overflow-wrap: break-word;
  margin-left: 1.8rem;
  margin-block: 0.4rem;
  align-self: flex-start;
  justify-self: left;
  max-width: 60%;
  background-color: #292524;
  padding: 1rem;
  border-radius: 5px 20px 20px 20px;
  cursor: pointer;
  transition: 300ms all ease-in-out;
}
.others-msg .message__content {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
}
.others-msg .message:hover {
  background-color: #44403C;
}
.others-msg .message img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.others-msg .image {
  width: 50%;
  background: transparent;
  padding: 0;
}
.others-msg .image:hover {
  background: transparent;
}

.user-msg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  height: max-content;
}
.user-msg .message-container__person-info {
  flex-direction: row-reverse;
}
.user-msg img {
  width: 32px;
  height: 32px;
}
.user-msg .person-msg-info {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  text-align: right;
  color: #FFFFFF;
}
.user-msg .message {
  overflow-wrap: break-word;
  margin-right: 1.8rem;
  margin-block: 0.4rem;
  align-self: flex-end;
  justify-self: right;
  max-width: 60%;
  background-color: #292524;
  padding: 1rem;
  border-radius: 20px 5px 20px 20px;
  line-height: 1.2;
  cursor: pointer;
  transition: 300ms all ease-in-out;
}
.user-msg .message__content {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
}
.user-msg .message:hover {
  background-color: #44403C;
}
.user-msg .message img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.user-msg .image {
  width: 50%;
  background: transparent;
  padding: 0;
}
.user-msg .image:hover {
  background: transparent;
}

.private-channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.private-channel__name-and-image {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.4rem;
  position: relative;
}
.private-channel__name-and-image img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/-1;
}
.private-channel__active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  bottom: 0.3rem;
  left: 1.3rem;
}
.private-channel__not-active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #57534E;
  position: absolute;
  bottom: 0.3rem;
  left: 1.35rem;
}
.private-channel__title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #F5F5F4;
  grid-column: 2/-1;
  grid-row: 1/2;
}
.private-channel__last-msg {
  grid-column: 2/-1;
  grid-row: 2/-1;
  color: #57534E;
}
.private-channel__unseen-msg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;
}
.private-channel__last-msg-date {
  color: #57534E;
}

.chats-container {
  grid-column: 2/-1;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.chats {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  overflow-y: scroll;
  max-height: 91vh;
  border-right: 1px solid #292524;
}
.chats h2 {
  color: #FFFFFF;
  align-self: flex-start;
  justify-self: center;
}
.chats::-webkit-scrollbar {
  width: 0;
}

.chat-room-container {
  width: 70%;
  border-right: 1px solid #292524;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0B0B0D;
}

.App {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #E7E5E4;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 80px repeat(2, 4fr);
  grid-template-rows: 80px 1fr;
}

.main-app-container {
  grid-column: 2/-1;
  width: 100%;
  display: flex;
}

/*# sourceMappingURL=home.css.map */
