@import "workspace-members", "member", "workspace-requests", "request";

.workspace-members-main-container {
  grid-row: 2 /-1;
  grid-column: 2/-1;
  width: 100%;
}

.workspace-choice-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
}

.workspace-choice {
  width: 300px;
  height: 300px;
  border: 1px solid $Gray-800;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  transition: 300ms all ease-in-out;
  position: relative;

  &__img {
    width: 95%;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__counts {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $Blue-700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms all ease-in-out;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  &:hover {
    border-color: $Blue-500;

    .workspace-choice__counts {
      background-color: $Blue-500;
    }
  }
}

.workspace-id {
  position: absolute;
  top: 2rem;
  right: 1rem;
  border: 1px solid $Gray-800;
  border-radius: 12px;
  padding: 2rem;
  transition: 300ms all ease-in-out;
  cursor: pointer;
  display: flex;
  gap: 3rem;

  &:hover {
    border-color: $Blue-600;

    .workspace-id__icon {
      fill: $Blue-600;
    }
  }

  &__title {
    @include Body-Medium-Font($Gray-100);
    transition: 300ms all ease-in-out;
  }

  &__icon {
    fill: $Gray-600;
    transition: 300ms all ease-in-out;
  }

  &__active-msg {
    position: absolute;
    top: 1rem;
    left: -6rem;
    background-color: $Gray-800;
    border-radius: 12px;
    padding: 1rem;
    cursor: auto;
    animation: fadeIn 500ms linear;

    .arrow {
      margin: 0;
      display: block;
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-left-color: $Gray-800;
      position: absolute;
      top: 0.95rem;
      right: -1rem;
    }
  }

  &__hidden-msg {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}