.members-container {
  grid-column: 2 / -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
  position: relative;
}

.members-back {
  position: absolute;
  left: 0;
  top: -1rem;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid $Gray-800;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;

  &__icon {
    fill: $Gray-600;
    transition: 300ms all ease-in-out;
  }

  &:hover {
    border: 1px solid $Gray-200;
    color: $Gray-300;

    .members-back__icon {
      fill: $Gray-200;
    }
  }
}

.members-title {
  width: 80%;

  h2 {
    margin: 1rem 0;
  }
}

.members-header {
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid $Gray-800;
  padding-right: 1.4rem;

  &__image {
    flex: 1 1 10%;
  }

  &__name {
    flex: 1 1 10%;
  }

  &__email {
    flex: 2 1 20%;
  }

  &__projects {
    flex: 1 1 10%;
  }

  &__role {
    flex: 1 1 10%;
  }

  &__timezone {
    flex: 1 1 10%;
  }

  &__chat {
    flex: 1 1 10%;
  }
}

.members {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 62vh;
  overflow-y: auto;
  padding-right: 1rem;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 24px;
    background: $Gray-900;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $Gray-600;
    border-radius: 20px;
    border: 1px solid $Gray-800;
  }
}