.requests-container {
  grid-column: 2 / -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
  position: relative;
}

.requests-back {
  position: absolute;
  left: 0;
  top: -1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid $Gray-800;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;

  &__icon {
    fill: $Gray-600;
    transition: 300ms all ease-in-out;
  }

  &:hover {
    border: 1px solid $Gray-200;
    color: $Gray-300;

    .requests-back__icon {
      fill: $Gray-200;
    }
  }
}

.requests-title {
  width: 80%;

  h2 {
    margin: 1rem 0;
  }
}

.requests {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}