.join-workspace {
  &__message {
    align-self: flex-start;
  }

  &__cancel-request {
    align-self: flex-end;
    width: 150px;
    height: 35px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 1rem;
    @include Body-Medium-Font($Gray-100);
    background-color: $Gray-600;
    transition: 300ms all ease-in-out;

    &:hover {
      color: $Gray-600;
      background-color: $Gray-200;
    }
  }

  &__confirm-container {
    display: flex;
    gap: 1rem;
  }

  &__cancel-confirm {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    transition: 300ms all ease-in-out;
    background-color: $Gray-600;
    @include Body-Medium-Font($Gray-100);
    border: 1px solid transparent;

    &:hover {
      color: $Gray-600;
      background-color: $Gray-200;
    }
  }

  &__approve-confirm {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    background-color: $Red-500;
    @include Body-Medium-Font($Gray-100);
    border: 1px solid transparent;
    transition: 300ms all ease-in-out;
    cursor: pointer;

    &:hover {
      color: $Red-500;
      background-color: $Red-200;
    }
  }
}